@charset "UTF-8";

@font-face {
  font-family: "lato";
  font-display: swap;
  src: url("../fonts/latoregular.woff") format("woff"), url("../fonts/latoregular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "lato";
  font-display: swap;
  src: url("../fonts/latobold.woff") format("woff"), url("../fonts/latobold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-SemiBold.woff") format("woff"), url("../fonts/Gilroy-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-ExtraBold.woff") format("woff"), url("../fonts/Gilroy-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Heavy.woff") format("woff"), url("../fonts/Gilroy-Heavy.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

/* Обнуляющий стиль */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ol li,
ul li {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

img {
  vertical-align: top;
}

html,
body {
  height: 100%;
  font-size: 14px;
  line-height: 1;
  font-family: Gilroy;
}

input,
button,
textarea {
  font-family: inherit;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* -------------- */

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

/* -------------- */

._container {
  max-width: 1140px;
  margin: 0px auto;
}

.header {
  padding: 35px 0px 0px 0px;
  position: fixed;
  width: 100%;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0px 0px 35px 0px;
}

.header__column {
  max-width: 400px;
}

.header__column:first-child {
  max-width: 360px;
}

.header__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo__image {
  font-weight: bold;
  font-size: 52px;
  color: #e1e1e1;
}

.logo__info {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #5d5d5d;
  margin: 0px 0px 0px 50px;
}

.logo__info:before {
  content: "";
  background: #d8d8d8;
  border: 1px solid #89afef;
  height: 44px;
  width: 2px;
  position: absolute;
  margin: 0px 20px 0px 0px;
  top: 4px;
  left: -25px;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social__item {
  margin: 0px 18px;
  width: 43px;
  height: 43px;
  border-radius: 50%;
}

.social__item:first-child {
  margin-left: 0;
}

._no-webp .social__item_wts{
  background: #2dd038 url("../img/wts.png") center center no-repeat; }

.social__item_wts {
  -webkit-box-shadow: 0px 8px 25px rgba(45, 208, 56, 0.497678);
          box-shadow: 0px 8px 25px rgba(45, 208, 56, 0.497678);
}

._no-webp .social__item_wts:hover{
  background: #176b1d url("../img/wts.png") center center no-repeat; }

._no-webp .social__item_viber{
  background: #7b519d url("../img/viber.png") center center no-repeat; }

.social__item_viber {
  -webkit-box-shadow: 0px 8px 25px rgba(123, 81, 157, 0.503797);
          box-shadow: 0px 8px 25px rgba(123, 81, 157, 0.503797);
}

._no-webp .social__item_viber:hover{
  background: #4f3564 url("../img/viber.png") center center no-repeat; }

._no-webp .social__item_telegram{
  background: #5bbaf0 url("../img/telegram.png") 45% center no-repeat; }

.social__item_telegram {
  -webkit-box-shadow: 0px 8px 25px rgba(91, 186, 240, 0.5);
          box-shadow: 0px 8px 25px rgba(91, 186, 240, 0.5);
}

._no-webp .social__item_telegram:hover{
  background: #3b7699 url("../img/telegram.png") 45% center no-repeat; }

.contacts__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0px 30px 0px 0px;
}

._no-webp .contacts__tel{
  background: url("../img/call.png") 0 center no-repeat; }

.contacts__tel {
  color: #333333;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  padding: 0px 0px 0px 20px;
}

._no-webp .contacts__mail{
  background: url("../img/maill.png") 28px center no-repeat; }

.contacts__mail {
  color: #333333;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  text-align: right;
}

.btn {
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  line-height: 44px;
  height: 44px;
  text-align: center;
  color: #ffffff;
  padding: 0px 20px;
  max-width: 100%;
}

.btn_orange {
  background: -webkit-gradient(linear, left top, right top, from(#f6bd60), to(#e88952));
  background: -o-linear-gradient(left, #f6bd60 0%, #e88952 100%);
  background: linear-gradient(90deg, #f6bd60 0%, #e88952 100%);
  -webkit-box-shadow: 0px 8px 18px rgba(242, 147, 81, 0.450503);
          box-shadow: 0px 8px 18px rgba(242, 147, 81, 0.450503);
  border-radius: 3px;
}

.btn_orange:hover {
  background: -webkit-gradient(linear, left top, right top, from(#e88952), to(#f6bd60));
  background: -o-linear-gradient(left, #e88952 0%, #f6bd60 100%);
  background: linear-gradient(90deg, #e88952 0%, #f6bd60 100%);
}

.btn_blue {
  padding: 0px 50px;
  background: -webkit-gradient(linear, left top, right top, from(#87aff1), color-stop(100%, #6c80cb), to(#6c80cb));
  background: -o-linear-gradient(left, #87aff1 0%, #6c80cb 100%, #6c80cb 100%);
  background: linear-gradient(90deg, #87aff1 0%, #6c80cb 100%, #6c80cb 100%);
  -webkit-box-shadow: 0px 12px 20px rgba(132, 170, 237, 0.454846);
          box-shadow: 0px 12px 20px rgba(132, 170, 237, 0.454846);
  border-radius: 3px;
}

.btn_blue:hover {
  background: -webkit-gradient(linear, left top, right top, from(#6c80cb), to(#87aff1));
  background: -o-linear-gradient(left, #6c80cb 0%, #87aff1 100%);
  background: linear-gradient(90deg, #6c80cb 0%, #87aff1 100%);
}

.btn_transparent {
  border: 2px solid #6d81cc;
  border-radius: 3px;
  color: #6d81cc;
  padding: 0px 50px;
}

.btn_transparent:hover {
  background: -webkit-gradient(linear, left top, right top, from(#6c80cb), to(#87aff1));
  background: -o-linear-gradient(left, #6c80cb 0%, #87aff1 100%);
  background: linear-gradient(90deg, #6c80cb 0%, #87aff1 100%);
  color: #fff;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #333333;
}

.menu__link:hover {
  text-decoration: underline;
}

._no-webp .mainscreen{
  background: url("../img/image.png") right bottom no-repeat; }

.mainscreen {
  padding: 120px 0px 0px 0px;
}

.mainscreen__row {
  padding: 30px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mainscreen__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 59%;
          flex: 0 0 59%;
}

.item-mainscreen__title {
  margin: 60px 0px 40px 0px;
  font-weight: 900;
  font-size: 40px;
  line-height: 51px;
  color: #333333;
}

.item-mainscreen__text {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #333333;
  margin: 0px 0px 40px 0px;
}

.item-mainscreen__text span {
  position: relative;
  font-weight: 800;
  font-size: 24px;
  line-height: 31px;
  color: #333333;
  top: 10px;
}

.documents {
  margin: 0px 0px 45px 0px;
}

.documents__subtitle {
  padding: 45px 0px 35px 0px;
}

.documents__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px -15px;
}

.documents__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  margin: 0px 0px 25px 0px;
  padding: 0px 15px;
}

.subtitle {
  font-weight: 800;
  font-size: 36px;
  line-height: 46px;
  text-align: center;
  color: #333333;
}

.item-documents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ffffff;
  -webkit-box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.0677994);
          box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.0677994);
  padding: 34px 25px 0px 25px;
  cursor: pointer;
}

.item-documents:hover {
  -webkit-box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.384);
          box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.384);
}

.item-documents__icon {
  margin: 0px 0px 15px 0px;
}

.item-documents__title {
  font-weight: 600;
  font-size: 19px;
  line-height: 23px;
  text-align: center;
  color: #333333;
  margin: 0px 0px 34px 0px;
}

.advantages {
  background-color: #f6f6f6;
  padding: 40px 0px 0px 0px;
}

.advantages__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-column-align: space-around;
      justify-self: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.advantages__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  margin: 0px 0px 40px 0px;
}

.item-advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-advantages__image {
  background-color: #fff;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 98px;
  height: 98px;
  margin: 0px 0px 15px 0px;
}

.item-advantages__subtitle {
  font-weight: 800;
  font-size: 22px;
  line-height: 27px;
  text-align: center;
  color: #333333;
  margin: 0px 10px 15px 10px;
}

.item-advantages__text {
  font-weight: 500;
  font-size: 17px;
  line-height: 25px;
  text-align: center;
  color: #333333;
  padding: 0px 30px;
}

.programs {
  padding: 50px 0px 0px 0px;
  margin: 0px 0px 50 px 0px;
}

.programs__subtitle {
  margin: 0px 0px 30px 0px;
}

.programs__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.programs__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  padding: 0px 15px;
  margin: 0px 0px 15px 0px;
}

.item-programs {
  height: 100%;
  background: #ffffff;
  -webkit-box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.0677994);
          box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.0677994);
  cursor: pointer;
}

.item-programs:hover {
  -webkit-box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.384);
          box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.384);
}

.item-programs__image {
  text-align: center;
  padding: 25px 0px 25px 0px;
}

.item-programs__subtitle {
  font-weight: 800;
  font-size: 19px;
  line-height: 23px;
  text-align: center;
  color: #333333;
}

.item-programs__status {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #53b43b;
  margin: 0px 0px 30px 0px;
}

._no-webp .item-programs__status span{
  background: url("../img/icon.png") 0px 2px no-repeat; }

.item-programs__status span {
  padding: 0px 0px 0px 18px;
}

.item-programs__price {
  font-weight: 800;
  font-size: 22px;
  line-height: 27px;
  text-align: center;
  color: #333333;
  padding: 0px 0px 25px 0px;
}

.news-shares {
  padding: 35px 0px 50px 0px;
}

.news-shares__subtitle {
  margin: 0px 0px 40px 0px;
}

.news-shares__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0px -15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.news-shares__column {
  padding: 0px 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 49.5%;
          flex: 0 0 49.5%;
  margin: 0px 0px 15px 0px;
}

.news-shares__button {
  text-align: center;
  margin: 25px 0px 0px 0px;
}

.item-news-shares {
  height: 100%;
}

._no-webp .shares{
  background: #fafafb url("../img/doc-f.png") right bottom/contain no-repeat; }

.shares {
  padding: 40px 0px 0px 30px;
  height: 100%;
}

.shares__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.description__title {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #333333;
  margin: 0px 0px 20px 0px;
}

.description__title a {
  color: #6d81cc;
}

.description__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
}

.news-main {
  height: 100%;
}

.news-main__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -15px;
  height: 100%;
}

.news-main__column {
  padding: 0px 15px;
}

.card {
  background: #ffffff;
  -webkit-box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.0677994);
          box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.0677994);
  padding: 25px 25px 25px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  cursor: pointer;
}

.card:hover {
  -webkit-box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.384);
          box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.384);
}

.card__image {
  text-align: center;
  margin: 0px 0px 15px 0px;
}

.card__data {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #ababab;
  margin: 0px 0px 15px 0px;
}

.card__title {
  font-weight: bold;
  font-size: 19px;
  line-height: 23px;
  color: #333333;
  margin: 0px 0px 15px 0px;
}

.card__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #333333;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.examples {
  background-color: #f6f6f6;
  padding: 50px 0px 50px 0px;
}

.examples__subtitle {
  margin: 0px 0px 40px 0px;
}

.examples__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px -20px;
}

.examples__column {
  padding: 0px 20px;
  margin: 0px 0px 20px 0px;
}

.item-examples__image {
  cursor: pointer;
}

.item-examples__image:hover {
  -webkit-box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.384);
          box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.384);
}

.certification {
  background-color: #86adef;
}

.certification__subtitle {
  padding: 60px 0px 0px 0px;
  -moz-text-align-last: left;
       text-align-last: left;
  margin: 0px 0px 40px 0px;
}

.certification__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0px -20px;
}

.certification__row:last-child {
  border-top: 1px solid #678bc7;
  margin-top: 10px;
  padding: 0px 0px 80px 0px;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin: 0px -17px;
}

.certification__column {
  padding: 0px 17px;
  margin: 0px 0px 20px 0px;
}

.certification__column_top {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.3334%;
          flex: 0 0 33.3334%;
}

.certification__column_bottom {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
  margin: 30px 0px 0px 0px;
}

.certification__column_long {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 590px;
          flex: 1 0 590px;
}

.certification__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 100%;
}

.certification__label {
  justify-self: flex-end;
  font-weight: normal;
  font-size: 17px;
  line-height: 20px;
  color: #516c9a;
  margin: 0px 0px 10px 0px;
}

.certification__input {
  height: 46px;
  padding: 0px 0px 0px 13px;
}

.certification__btn {
  font-size: 14px;
  height: 46px;
}

.subtitle_w {
  color: #fff;
}

.footer {
  background-color: #333333;
  padding: 50px 0px 0px 0px;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -10px;
}

.footer__column {
  padding: 0px 10px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333%;
          flex: 0 0 33.333%;
  padding-bottom: 40px;
}

.footer__copyright {
  border-top: 1px solid #4e4e4e;
  padding: 30px 0px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #565656;
}

.item-footer__title {
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  margin: 0px 0px 30px 0px;
  color: #ffffff;
}

.item-footer__list li {
  margin: 0px 0px 15px 0px;
}

.item-footer__link {
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
}

.item-footer__link:hover {
  text-decoration: underline;
}

.item-footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.item-footer__social {
  margin: 0px 0px 30px 0px;
}

.item-footer__link-contacts {
  display: block;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  margin: 0px 0px 20px 0px;
  color: #ffffff;
}

.item-footer__link-contacts:hover {
  text-decoration: underline;
}

._no-webp .item-footer__link-contacts_wts{
  background: url("../img/wts.png") 0 2px no-repeat; }

.item-footer__link-contacts_wts {
  padding: 0px 0px 0px 30px;
}

._no-webp .item-footer__link-contacts_viber{
  background: url("../img/viber.png") 0 2px no-repeat; }

.item-footer__link-contacts_viber {
  padding: 0px 0px 0px 30px;
}

._no-webp .item-footer__link-contacts_telegram{
  background: url("../img/telegram.png") 0 2px no-repeat; }

.item-footer__link-contacts_telegram {
  padding: 0px 0px 0px 30px;
}

._no-webp .item-footer__link-contacts_tel{
  background: url("../img/call-answer.png") 0 1px no-repeat; }

.item-footer__link-contacts_tel {
  padding: 0px 0px 0px 30px;
}

._no-webp .item-footer__link-contacts_mail{
  background: url("../img/mail-black-envelope-symbol.png") 0 4px no-repeat; }

.item-footer__link-contacts_mail {
  padding: 0px 0px 0px 30px;
}

.item-footer__contacts {
  margin: 0px 0px 30px 0px;
}

.item-footer__btn {
  margin: 0px 0px 40px 0px;
}

.item-footer__logo {
  display: block;
  font-weight: 800;
  font-size: 60px;
  line-height: 74px;
  color: rgba(255, 255, 255, 0.12653);
}

.checkbox__input {
  display: none;
}

.checkbox__input:checked + .checkbox__label::before {
  content: "";
}

._webp .social__item_wts{ background: #2dd038 url(../img/wts.webp) center center no-repeat; }

._webp .social__item_wts:hover{ background: #176b1d url(../img/wts.webp) center center no-repeat; }

._webp .social__item_viber{ background: #7b519d url(../img/viber.webp) center center no-repeat; }

._webp .social__item_viber:hover{ background: #4f3564 url(../img/viber.webp) center center no-repeat; }

._webp .social__item_telegram{ background: #5bbaf0 url(../img/telegram.webp) 45% center no-repeat; }

._webp .social__item_telegram:hover{ background: #3b7699 url(../img/telegram.webp) 45% center no-repeat; }

._webp .contacts__tel{ background: url(../img/call.webp) 0 center no-repeat; }

._webp .contacts__mail{ background: url(../img/maill.webp) 28px center no-repeat; }

._webp .mainscreen{ background: url(../img/image.webp) right bottom no-repeat; }

._webp .item-programs__status span{ background: url(../img/icon.webp) 0px 2px no-repeat; }

._webp .shares{ background: #fafafb url(../img/doc-f.webp) right bottom/contain no-repeat; }

._webp .item-footer__link-contacts_wts{ background: url(../img/wts.webp) 0 2px no-repeat; }

._webp .item-footer__link-contacts_viber{ background: url(../img/viber.webp) 0 2px no-repeat; }

._webp .item-footer__link-contacts_telegram{ background: url(../img/telegram.webp) 0 2px no-repeat; }

._webp .item-footer__link-contacts_tel{ background: url(../img/call-answer.webp) 0 1px no-repeat; }

._webp .item-footer__link-contacts_mail{ background: url(../img/mail-black-envelope-symbol.webp) 0 4px no-repeat; }